extends layout

block content
  h1 Gallery
  if urls.length
    ul
      each url in urls
        li
          img(src=url.content, width=640)
          a(href="/clear/" + url._id) Delete
  else
    p No picture.